{% include "navbar.html" %}
<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- <link rel="stylesheet" href="bootstrap-4.5.3-dist/css/bootstrap.min.css"/> -->
        <!-- <script src="bootstrap-4.5.3-dist/js/bootstrap.min.js"></script> -->

        <title>Book Selector</title>

        <!--CSS stuff right here, we stylish-->
        <style>
            .container-fluid {
                font-family: Tahoma, Geneva, sans-serif;
            }
            .container-fluid h1{
                text-align: center;
                color: #131212;
                font-size: 24px;
                padding: 20px 0 20px 0;
            }
        </style>
    </head>

    <body>
        <div class="container-fluid" id = "container-fluid">
            <div class="title">
                <h1 style="text-align: center;">Book Seclection</h1>
            </div>
            <div class="explanation">
                <p style="text-align: center;">Select a book from the list below or click the button to enter a book of your choice!</p>
            </div>
            <div class="enter-book-button" style="text-align: center;">
                <button class = "button" onclick=enterBook() id = "enter">Go Enter A Book</button>
            </div>
            <br>
            <!--This row and column system will house the books being read in by Django-->
            <div class="row">
                <div class="col-sm-4" style="background-color:yellow;">
                    <p style="text-align: center;">This is col 1!</p>
                </div>
                <div class="col-sm-4" style="background-color:red;">
                    <p style="text-align: center;">This is col 2!!</p>
                </div>
                <div class="col-sm-4" style="background-color:pink;">
                    <p style="text-align: center;">This is col 3!!!!</p>
                </div>
            </div>

        </div>
        <script src = "./bookSelector.js"></script>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>

</html>

<!--TO DO LIST-->

<!--Make sure bootstrap is working as it should-->
<!--Center the rows and cols through css near top of file-->
<!--Get the amount of containers loaded in to be the amount of books loaing in-->
<!--What I have presently for the grid layout is what I want, but I need it to load in as many 
books as possible, so that will need to be done in python with django similar to what was done in contact creator website-->
