{% include "navbar.html" %}
<html>
    <body>
        <script src = "./bookSelector.js"></script>
        <div class  = "book_selector">
            <h1>Book List</h1>
            <p>Select a book from this list and hit submit. The book's playlist will then be generated for you!</p>
            <div class = "grid-container" id = "grid-container"> 
                <!-- List of books will be shown in grid-container.
                one will be chosen and submitted so a playlist can be made for it -->
            </div>
        </div>
    </body>
</html>